<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ORM.Mapper.CityMapper">
    <select id="createTable">
        create table if not exists City
        (
            city_id PRIMARY KEY,
            city_name,
            max_lat,
            min_lat,
            max_lng,
            min_lng
        )
    </select>
    <insert id="insert" parameterType="Lianjia.City" useGeneratedKeys="false">
        insert into City(city_id, city_name, max_lat, min_lat, max_lng, min_lng)
        values (#{city_id}, #{city_name}, #{max_lat}, #{min_lat}, #{max_lng}, #{min_lng})
    </insert>
    <select id="selectByName" parameterType="String" resultType="Lianjia.City">
        select *
        from City
        where city_name = #{city_name}
    </select>
    <insert id="initDefaultData" useGeneratedKeys="false">
        insert OR ignore into City(city_id, city_name, max_lat, min_lat, max_lng, min_lng)
        values ('310000', '上海', '31.36552', '31.106158', '121.600985', '121.360095'),
               ('110000', '北京', '40.074766', '39.609408', '116.796856', '115.980476'),
               ('440100', '广州', '23.296086', '22.737277', '113.773905', '113.038013'),
               ('440300', '深圳', '22.935891', '22.375581', '114.533683', '113.797791'),
               ('430100', '长沙', '28.368467', '28.101143', '113.155889', '112.735051'),
               ('370600', '烟台', '37.590234', '37.349651', '121.698469', '121.210365'),
               ('350200', '厦门', '24.794145', '24.241819', '118.533083', '117.892627'),
               ('410100', '郑州', '34.961967', '34.473941', '113.50206', '112.899549'),
               ('420100', '武汉', '31.370301', '29.982801', '115.086901', '113.699400');
    </insert>
</mapper>