<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ORM.Mapper.CommunityMapper">
    <select id="createTable">
        create table if not exists Community
        (
            uuid integer primary key autoincrement,
            id,
            district_id,
            city_id,
            unit_price,
            count,
            name,
            district_name,
            city_name,
            longitude,
            latitude
        );
    </select>
    <insert id="bathInsertList" parameterType="java.util.List" useGeneratedKeys="true">
        insert or replace into Community(
        id,district_id, city_id, unit_price, count,name, district_name, longitude, latitude,city_name) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.district_id},#{item.city_id},#{item.unit_price}
            ,#{item.count},#{item.name},#{item.district_name},#{item.longitude},#{item.latitude},#{item.city_name})
        </foreach>
    </insert>
</mapper>