<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ORM.Mapper.DistrictMapper">
    <select id="createTable">
        create table if not exists District
        (
            uuid,
            id,
            name,
            longitude,
            latitude,
            border,
            unit_price,
            count,
            city_id,
            city_name
        );
    </select>
    <insert id="bathInsertList" parameterType="java.util.List" useGeneratedKeys="true">
        insert into District(
        id ,
        name,
        longitude,
        latitude,
        border,
        unit_price,
        count,
        city_id,
        city_name) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.longitude},#{item.latitude},#{item.border},#{item.unit_price},#{item.count},#{item.city_id},#{item.city_name})
        </foreach>
    </insert>
    <select id="selectByName" parameterType="String" resultType="Lianjia.District">
        select *
        from District
        where name = #{name};
    </select>
    <delete id="deleteByCityId" parameterType="String">
        delete
        from District
        where city_id = #{city_id}
    </delete>
    <select id="selectByCity" parameterType="Lianjia.City" resultType="Lianjia.District">
        select *
        from District
        where city_id = #{city_id}
    </select>
</mapper>