<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ORM.Mapper.HouseMapper">
    <select id="createTable">
        create table if not exists House
        (
            uuid,
            houseId,
            houseCode,
            title,
            appid,
            source,
            imgSrc,
            layoutImgSrc,
            imgSrcUri,
            layoutImgSrcUri,
            roomNum,
            square,
            buildingArea,
            buildYear,
            isNew,
            ctime,
            mtime,
            orientation,
            floorStat,
            totalFloor,
            decorateType,
            hbtName,
            isYezhuComment,
            isGarage,
            houseType,
            isFocus,
            status,
            isValid,
            signTime,
            signSource,
            signSourceCn,
            isDisplay,
            address,
            community,
            communityId,
            communityName,
            communityUrl,
            communityUrlEsf,
            districtId,
            districtUrl,
            districtName,
            regionId,
            regionUrl,
            regionName,
            bbdName,
            bbdUrl,
            houseCityId,
            subwayInfo,
            schoolName,
            schoolArr,
            bizcircleFullSpell,
            house_video_info,
            price,
            unitPrice,
            viewUrl,
            listPrice,
            publishTime,
            isVilla,
            villaNoFloorLevel,
            villaName,
            tags,
            CommunityUUID
        )
    </select>
    <insert id="bathInsertList" parameterType="java.util.List" useGeneratedKeys="true">
        insert into House(
        "houseId",
        "houseCode",
        "title",
        "appid",
        "source",
        "imgSrc",
        "layoutImgSrc",
        "imgSrcUri",
        "layoutImgSrcUri",
        "roomNum",
        "square",
        "buildingArea",
        "buildYear",
        "isNew",
        "ctime",
        "mtime",
        "orientation",
        "floorStat",
        "totalFloor",
        "decorateType",
        "hbtName",
        "isYezhuComment",
        "isGarage",
        "houseType",
        "isFocus",
        "status",
        "isValid",
        "signTime",
        "signSource",
        "signSourceCn",
        "isDisplay",
        "address",
        "community",
        "communityId",
        "communityName",
        "communityUrl",
        "communityUrlEsf",
        "districtId",
        "districtUrl",
        "districtName",
        "regionId",
        "regionUrl",
        "regionName",
        "bbdName",
        "bbdUrl",
        "houseCityId",
        "subwayInfo",
        "schoolName",
        "schoolArr",
        "bizcircleFullSpell",
        "house_video_info",
        "price",
        "unitPrice",
        "viewUrl",
        "listPrice",
        "publishTime",
        "isVilla",
        "villaNoFloorLevel",
        "villaName",
        "tags",
        "CommunityUUID") values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.houseId},
            #{item.houseCode},
            #{item.title},
            #{item.appid},
            #{item.source},
            #{item.imgSrc},
            #{item.layoutImgSrc},
            #{item.imgSrcUri},
            #{item.layoutImgSrcUri},
            #{item.roomNum},
            #{item.square},
            #{item.buildingArea},
            #{item.buildYear},
            #{item.isNew},
            #{item.ctime},
            #{item.mtime},
            #{item.orientation},
            #{item.floorStat},
            #{item.totalFloor},
            #{item.decorateType},
            #{item.hbtName},
            #{item.isYezhuComment},
            #{item.isGarage},
            #{item.houseType},
            #{item.isFocus},
            #{item.status},
            #{item.isValid},
            #{item.signTime},
            #{item.signSource},
            #{item.signSourceCn},
            #{item.isDisplay},
            #{item.address},
            #{item.community},
            #{item.communityId},
            #{item.communityName},
            #{item.communityUrl},
            #{item.communityUrlEsf},
            #{item.districtId},
            #{item.districtUrl},
            #{item.districtName},
            #{item.regionId},
            #{item.regionUrl},
            #{item.regionName},
            #{item.bbdName},
            #{item.bbdUrl},
            #{item.houseCityId},
            #{item.subwayInfo},
            #{item.schoolName},
            #{item.schoolArr},
            #{item.bizcircleFullSpell},
            #{item.house_video_info},
            #{item.price},
            #{item.unitPrice},
            #{item.viewUrl},
            #{item.listPrice},
            #{item.publishTime},
            #{item.isVilla},
            #{item.villaNoFloorLevel},
            #{item.villaName},
            #{item.tags},
            #{item.CommunityUUID})
        </foreach>
    </insert>
    <select id="selectByHouseId" resultType="Lianjia.House" parameterType="String">
        select *
        from House
        where houseId = #{houseId};
    </select>
</mapper>