<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <!--<setting name="logImpl" value="LOG4J2"/>-->
        <setting name="logImpl" value="NO_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url"
                          value="jdbc:postgresql://188.131.157.4:5432/how2jdb?characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;allowMultiQueries=true&amp;useSSL=false&amp;serverTimezone=GMT%2B8"/>
                <property name="username" value="postgres"/>
                <property name="password" value="liukang951006"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="ORM/Mapper/HouseMapper.xml"></mapper>
        <mapper resource="ORM/Mapper/CityMapper.xml"></mapper>
        <mapper resource="ORM/Mapper/DistrictMapper.xml"></mapper>
        <mapper resource="ORM/Mapper/CommunityMapper.xml"></mapper>
    </mappers>
</configuration>